h1 {
  text-align: center;
}
html {
 font-family: Robot;
 background-color: skyBlue;
}
a {
  color: red;
  align: center;
}
button {
 margin-bottom: 20px;
 border: solid black 10px;
 border-radius: 10px;
 background-color: black;
 height: 40px;
 font-weight: bold;
 align: center;
 color: red;
}
#head {
 color: white;
 background-color: #1abc9c;
 height: 100px;
 margin: 0px;
 padding: 0px;
 border: solid #1abc9c 10px;
}
#hl a {
 color: white;
}
#hl {
 margin: 10px;
 float: left;
 padding: 0px;
}
#hr {
 margin: 10px;
 float: right;
 padding: 10px;
}
#hr img {
 height: 50px;
 width: 50px;
 margin: 5px;
 border-radius: 20px 0px 20px 0px;
 border: solid #1abc9c 3px;
}
#foot {
 color: white;
 background-color: #2f2f2f;
 height: 150px;
 margin: 0px;
 padding: 0px;
 border: solid #2f2f2f 10px;
}
#fl a {
 color: #1abc9a;
}
#fl {
 float: left;
 margin: 10px;
}
#fr {
 float: right;
 margin: 10px;
}
#header-nav li {
 display: inline;
 padding-left: 20px;
}
#header-nav {
 display: block;
 float: right;
 margin: 0;
}
#header {
 background-color: #1abc9c;
 height: 150px;
 line-height: 150px;
}
.container {
 max-width: 1000px;
 margin: 0;
}
#header-title {
 display: block;
 float: left;

 font-size: 20px;
 font-weight: bold;
}
#header a {
 color: white;
 text-decoration: none;
}
#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
 color: #222;
}
#footer {
 background-color: #2f2f2f;
 padding: 50px 0;
}
#footer {
 background-color: #2f2f2f;
 padding: 50px 0;
}
.column {
 min-width: 300px;
 display: inline-block;
}
.column {
 min-width: 300px;
 display: inline-block;
 vertical-align: top;
}
#footer h4 {
 color: white;
 text-transform: uppercase;
 letter-spacing: 0.1em;
}
#footer p {
 color: white;
}
a {
 color: #1abc9c;
 text-decoration: none;
}
a {
 color: limeS;
 text-decoration: none;
}
a:hover {
 color: #F6A623;
}
