html {
 background-color: skyBlue;
 font-family: comic sans ms;
}
a {
  color: lime;
  align: center;
}
button {
 margin-bottom: 20px;
 border: solid black 10px;
 border-radius: 10px;
 background-color: black;
 height: 40px;
 width: 200px;
 font-weight: bold;
 align: center;
 color: red;
}
#header-nav li {
 display: inline;
 padding-left: 20px;
}
#header-nav {
 display: block;
 float: right;
 margin: 0;
}
#header {
 background-color: #1abc9c;
 height: 150px;
 line-height: 150px;
}
.container {
 max-width: 1000px;
 margin: 0 auto;
}
#header-title {
 display: block;
 float: left;

 font-size: 20px;
 font-weight: bold;
}
#header a {
 color: white;
 text-decoration: none;
}
#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
 color: #222;
}
#footer {
 background-color: #2f2f2f;
 padding: 50px 0;
}
#footer {
 background-color: #2f2f2f;
 padding: 50px 0;
}
.column {
 min-width: 300px;
 display: inline-block;
}
.column {
 min-width: 300px;
 display: inline-block;
 vertical-align: top;
}
#footer h4 {
 color: white;
 text-transform: uppercase;
 letter-spacing: 0.1em;
}
#footer p {
 color: white;
}
a {
 color: #1abc9c;
 text-decoration: none;
}
a {
 color: limeS;
 text-decoration: none;
}
a:hover {
 color: #F6A623;
}
